h1{
    color: blue;
}

li{
    color: rgb(30, 100, 100);
}

p{
    color: #e59809;
}

h4{
    color: rgba(13, 90, 140, 0.5)
}
 /* 
body{
    background: gray;
} */
/* body{
    background: url(https://images.unsplash.com/photo-1534229317157-f846a08d8b73?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6ed72bdd9cfc274b3b1e417792b2695a&auto=format&fit=crop&w=668&q=80);
    background-repeat: no-repeat;
} */
div{
    /* This will only effect the div section in the html file. */
    background: blue;
    /* border-width: thick; */
    /* border: orange;
    border-width: 2px;
    border-style: solid; */
    border: red 10px dashed;
}
span{
    /* This will only effect the span portion in the div section */
    background: red;
    color: black;
}